.report-form {
    min-width: 100px;
    max-width: 800px;
    width: 100%;
    
  }
  .report-form-center {
    
    width: 50px;
    height: 50px;
    margin-left: 10%;
   
  }
  
  
  .report-full-width {
    width: 100%;
    left:50px;
  }

  .static {
    position: static;
    border: 10px; 
    left:50px;
  }

  .one {
    width: 50%;
    height: 200px;
    float: left;
  }
  
  .two {
    margin-left: 50%;
    height: 200px;
   
  }

  .hidden {
    display: none;
  }
  .button {
    margin-left: 80%;
    width: 75px;
    
  }
  .center-screen {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: left;
    min-height: 100vh;
  }

  .example-card {
    max-width: 400px;
  }

  .example-button-row {
    display: table-cell;
  }

  .section {
    display: table;
    margin: 8px;
  }

  
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
  }
  
  .example-button-row button {
    display: table-cell;
    margin-right: 8px;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    width: 480px;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .example-small-box {
    height: 100px;
    width: 100px;
  }

  .auto-resize-square {
    height: 30px;
    width: 30px;
    }

    .example-margin {
      margin: 0 10px;
    }

    .center {
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
  }