<form id="myForm" (submit)="createLabel()">
 <div class="top-box">
 

<div class="report-form-center">
    <Label class="label-width">
        Generate Shipping Label
      </Label>
    
    <div class="report-full-width">
        <mat-form-field  class="mat-form-field">
            <mat-label>Client Id</mat-label>
            <input placeholder ="Client Id"  matInput   [(ngModel)]="shippingLabelRequest.clientId" name="clientId" required>
            <mat-error *ngIf="shippingLabelRequest.clientId===''">you must enter a value</mat-error>
        </mat-form-field>

    </div>
  
        <div  class="report-full-width">
            <mat-form-field >
                <mat-label>Client Secret</mat-label>
                <input placeholder ="Client Secret"  matInput   [(ngModel)]="shippingLabelRequest.clientSecret"  name="clientSecret" required>
                <mat-error *ngIf="shippingLabelRequest.clientSecret===''">you must enter a value</mat-error>
            </mat-form-field>

        </div>
        
        <div  class="report-full-width">
            <mat-form-field  >
                <mat-label>Refresh Token</mat-label>
                <textarea placeholder="Refresh Token"  matInput  name ="refreshToken" cdkTextareaAutosize  cdkAutosizeMinRows="1" cdkAutosizeMaxRows="50" [(ngModel)]="shippingLabelRequest.refreshToken"  required></textarea>
                <mat-error *ngIf="shippingLabelRequest.refreshToken===''">you must enter a value</mat-error>
            </mat-form-field>

        </div> 
        <div  class="report-full-width">

            <mat-form-field >
                <mat-label>Access Key</mat-label>
                <input placeholder ="Access Key"  matInput  [(ngModel)]="shippingLabelRequest.accessKey" name="accessKey" required>
                <mat-error *ngIf="shippingLabelRequest.accessKey===''">you must enter a value</mat-error>
            </mat-form-field>

        </div>
        <div  class="report-full-width">

            <mat-form-field  >
                <mat-label>Secret Key</mat-label>
                <input placeholder ="Secret Key"  matInput   [(ngModel)]="shippingLabelRequest.secretKey"  name="secretKey" required>
                <mat-error *ngIf="shippingLabelRequest.secretKey===''">you must enter a value</mat-error>
            </mat-form-field>

        </div>
        <div   class="report-full-width">
            <mat-form-field >
                <mat-label>Region</mat-label>
                <mat-select [(ngModel)]="shippingLabelRequest.region" name="region">
                  <mat-option value="us-east-1">us-east-1</mat-option>
                </mat-select>
              </mat-form-field>
 
        </div>
        <div  class="report-full-width">

            <mat-form-field  >
                <mat-label>Purchase Order Number</mat-label>
                <input placeholder ="Purchase Order Number"  matInput  [(ngModel)]="shippingLabelRequest.orderNumber" name="orderNumber" required>
                <mat-error *ngIf="shippingLabelRequest.orderNumber===''">you must enter a value</mat-error>
            </mat-form-field>

        </div>
        <div class="report-full-width" >

                <mat-label>Single or Multi Container Shipping</mat-label>
                    <mat-radio-group aria-label="Single or Multi Container Shipping" [(ngModel)]="singleShipping" name="containerListGrp">
                    <mat-radio-button [value]=true [checked]=true>single </mat-radio-button>
                    <mat-radio-button [value]=false >multi</mat-radio-button>
                    </mat-radio-group>
            
        </div>
        <div *ngIf="singleShipping===true">
        <div class="report-full-width" >

            <mat-form-field >
                <mat-label>Selling Party Id</mat-label>
                <input placeholder ="Selling Party Id"  matInput   [(ngModel)]="shippingLabelRequest.sellingPartyId" name="sellingPartyId" required>
                <mat-error *ngIf="shippingLabelRequest.sellingPartyId===''">you must enter a value</mat-error>
            </mat-form-field>

        </div>
       
        <div  class="report-full-width">

            <mat-form-field >
                <mat-label>Ship From Party Id</mat-label>
                <input placeholder ="report-full-width"  matInput   [(ngModel)]="shippingLabelRequest.shipFromPartyId" name="shipFromPartyId" required>
                <mat-error *ngIf="shippingLabelRequest.shipFromPartyId===''">you must enter a value</mat-error>
            </mat-form-field>
        </div>
        </div>
        <div *ngIf="singleShipping===false">
            <div  class="report-full-width">
                <mat-form-field  >
                    <mat-label>Containers</mat-label>
                    <textarea placeholder="containers"  matInput  name ="containerList" cdkTextareaAutosize  cdkAutosizeMinRows="5" cdkAutosizeMaxRows="100" [(ngModel)]="shippingLabelRequest.containerList"  required></textarea>
                    <mat-error *ngIf="shippingLabelRequest.containerList===''">you must enter a value</mat-error>
                </mat-form-field>
    
            </div> 
        </div>
    
 

<mat-divider></mat-divider>
<div class="example-button-row">
    <button mat-raised-button type="submit" > Create Shipping Label

    </button>
</div>

<div  class="report-full-width" *ngIf="result===true" >
   
    <h4>Label Response</h4> 
  <span></span>
<div class="report-full-width">
   {{shippingLabelResString}}
    

</div>  

</div>   
<div  class="report-full-width" *ngIf="result===false" >
   
    <h4>Label Response</h4> 
  <span></span>
<div class="report-full-width">
   
    <mat-list *ngFor="let error of shippingLabelRes.errors">
        
         
           <mat-list-item >{{error.message}}</mat-list-item>
           <mat-list-item >{{error.details}}</mat-list-item>
         
      </mat-list>

</div>  

</div>  

    
</div>
</div>
</form>