.paapi5-pa-ad-unit{
    border:1px solid #eee;
    margin:2px;
    position:relative;
    overflow:hidden;
    padding:22px 20px;
    line-height:1.1em;
}
.paapi5-pa-ad-unit *{
    box-sizing:content-box;
    box-shadow:none;
    font-family:Arial,Helvetica,sans-serif;
    margin:0;
    outline:0;
    padding:0;
}
.paapi5-pa-ad-unit.pull-left{
    float:left;
}
.paapi5-pa-ad-unit.pull-right{
    float:right;
}
.paapi5-pa-ad-unit a{
    box-shadow:none!important;
}
.paapi5-pa-ad-unit a:hover{
    color:#c45500;
}
.paapi5-pa-product-container{
    width:180px;
    height:210px;
}
.paapi5-pa-product-image{
    display:table;
    width:150px;
    height:150px;
    margin:0 auto;
    text-align:center;
}
.paapi5-pa-product-image-wrapper{
    display:table-cell;
    vertical-align:middle;
}
.paapi5-pa-product-image-link{
    position:relative;
    display:inline-block;
    vertical-align:middle;
}
.paapi5-pa-product-image-source{
    max-width:150px;
    max-height:150px;
    vertical-align:bottom;
}
.paapi5-pa-percent-off{
    display:block;
    width:32px;
    height:25px;
    padding-top:8px;
    position:absolute;
    top:-16px;
    right:-16px;
    color:#fff;
    font-size:12px;
    text-align:center;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    background-color:#a50200;
    background-image:-webkit-linear-gradient(top,#cb0400,#a50200);
    background-image:linear-gradient(to bottom,#cb0400,#a50200);
}
.paapi5-pa-ad-unit.hide-percent-off-badge .paapi5-pa-percent-off{
    display:none;
}
.paapi5-pa-product-details{
    display:inline-block;
    max-width:100%;
    margin-top:11px;
    text-align:center;
    width:100%;
}
.paapi5-pa-ad-unit .paapi5-pa-product-title a{
    display:block;
    width:100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-size:13px;
    color:#0066c0;
    text-decoration:none;
    margin-bottom:3px;
}
.paapi5-pa-ad-unit .paapi5-pa-product-title a:hover{
    text-decoration:underline;
    color:#c45500;
}
.paapi5-pa-ad-unit.no-truncate .paapi5-pa-product-title a{
    text-overflow:initial;
    white-space:initial;
}
.paapi5-pa-product-offer-price{
    font-size:13px;
    color:#111;
}
.paapi5-pa-product-offer-price-value{
    color:#AB1700;
    font-weight:bold;
    font-size:1.1em;
    margin-right:3px;
}
.paapi5-pa-product-list-price{
    font-size:13px;
    color:#565656;
}
.paapi5-pa-product-list-price-value{
    text-decoration:line-through;
    font-size:.99em;
}
.paapi5-pa-product-prime-icon .icon-prime-all{
    background:url("https://images-na.ssl-images-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_2x_weblab_AUI_100106_T1-4e9f4ae74b1b576e5f55de370aae7aedaedf390d._V2_.png") no-repeat;
    display:inline-block;
    margin-top:-1px;
    vertical-align:middle;
    background-position:-192px -911px;
    background-size:560px 938px;
    width:52px;
    height:15px;
}
.paapi5-pa-product-offer-price,.paapi5-pa-product-list-price,.paapi5-pa-product-prime-icon{
    display:inline-block;
    margin-right:3px;
}
@media(-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){
    .paapi5-pa-ad-unit .paapi5-pa-product-prime-icon .icon-prime-all{
        background:url("https://images-na.ssl-images-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_2x_weblab_AUI_100106_T1-4e9f4ae74b1b576e5f55de370aae7aedaedf390d._V2_.png") no-repeat;
        display:inline-block;
        margin-top:-1px;
        vertical-align:middle;
        background-position:-192px -911px;
        background-size:560px 938px;
        width:52px;
        height:15px;
    }
}
@media screen and(max-width:440px){
    .paapi5-pa-ad-unit{
        float:none;
        width:100%;
    }
    .paapi5-pa-product-container{
        margin:0 auto;
        width:100%;
    }
    .paapi5-pa-product-details{
        text-align:center;
        margin-top:11px;
    }
}
.btn-primary-a{
    border-color:#a88734 #9c7e31 #846a29;
    color:#111;
    background:#f0c14b;
}
.btn-primary-a{
    background:#f3d078;
    background:-webkit-linear-gradient(top,#f7dfa5,#f0c14b);
    background:linear-gradient(to bottom,#f7dfa5,#f0c14b);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7dfa5',endColorstr='#f0c14b',GradientType=0);
    *zoom:1;
}
.btn-primary-a:hover{
    background:#f1c860;
    background:-webkit-linear-gradient(top,#f5d78e,#eeb933);
    background:linear-gradient(to bottom,#f5d78e,#eeb933);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5d78e',endColorstr='#eeb933',GradientType=0);
    *zoom:1;
}
.btn-primary-a:active{
    box-shadow:0 1px 3px rgba(0,0,0,0.2) inset;
    background-color:#f0c14b;
    background-image:none;
    filter:none;
}
.btn-primary-a:hover{
    border-color:#9c7e31 #90742d #786025;
}
.btn-primary-a:active{
    border-color:#a88734 #9c7e31 #9c7e31;
}
.btn-primary-a.disabled{
    border-color:#e8e0cd!important;
    background-color:#f9f3e5!important;
}
.btn-primary-a.disabled{
    background-color:#f9f3e5!important;
    filter:none;
}
.btn-primary-a.active,.btn-primary-a.active:hover{
    border-color:#a88734 #9c7e31 #9c7e31;
}
.btn-primary-a.active .btn-primary-a.active:hover{
    background-image:none;
    box-shadow:0 1px 3px rgba(0,0,0,0.2) inset;
    background-color:#f0c14b;
}
.btn-primary-a{
    box-shadow:0 1px 0 rgba(255,255,255,0.4) inset;
}
.btn-dark-a{
    background:#329ad6;
    border:1px solid transparent;
    text-shadow:none;
    padding:5px 10px;
    font-weight:500;
    cursor:pointer;
    color:white;
    line-height:21px;
    font-size:14px;
    padding:6px 12px;
    text-align:center;
    white-space:nowrap;
}
.btn-dark-a:hover{
    background:#2a5c91;
    color:#fff;
}
.btn-dark-a:active{
    background-image:linear-gradient(#16b,#2d8cec);
    color:white;
}
.btn-dark-a:focus{
    border-color:#32373e #24282d #212429;
    color:white;
}
.a-button-toggle{
    border-color:#adb1b8 #a2a6ac #8d9096;
    background-color:white;
}
.a-button-toggle .a-button-inner{
    box-shadow:0 1px 0 rgba(255,255,255,0.6) inset;
    background-image:none;
    filter:none;
    background-color:white;
    height:auto;
}
.a-button-toggle .a-button-text{
    white-space:normal;
    text-align:left;
    padding:5px 10px 5px 11px;
    line-height:19px;
}
.a-button-toggle:hover,.a-button-toggle:focus{
    border-color:#a2a6ac #979aa1 #82858a;
}
.a-button-toggle:hover,.a-button-toggle:focus{
    background-color:#f3f3f3;
    background-image:none;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.a-button-toggle:active{
    border-color:#adb1b8 #a2a6ac #a2a6ac;
}
.a-button-toggle.a-button-selected{
    border-color:#e77600;
    overflow:visible;
    background-color:white;
}
.a-button-toggle.a-button-selected .a-button-inner,.a-button-toggle.a-button-selected:hover .a-button-inner{
    background-image:none;
    background-color:#fef8f2;
}
.nav-tabs-a{
    background-color:#f5f6f7;
    border:1px solid #DDD;
    border-radius:0;
    border-bottom:0;
}
.nav-tabs-a>li{
    float:left;
    margin-bottom:-1px;
}
.nav-tabs-a>li>a{
    margin-right:0;
    line-height:1.42857143;
    border:1px solid transparent;
}
.nav-tabs-a>li>a:hover{
    border-top-color:#e77600;
    border-top-width:1px;
    color:#c45500;
    text-decoration:none;
}
.nav-tabs-a>li.active>a,.nav-tabs-a>li.active>a:hover,.nav-tabs-a>li.active>a:focus{
    border-color:#ddd;
    background-color:white;
    color:#c45500;
    margin:0;
    border-top-color:#e77600;
    font-weight:bold;
}
.panel-heading-a{
    overflow:hidden;
    padding:12px 18px 11px;
    font-weight:bold;
    font-size:14px;
    background:#f5f7f7;
    box-shadow:0 1px 0 rgba(255,255,255,0.5) inset;
}
.hr-a{
    margin-top:2px;
    margin-bottom:8px;
    border:0;
    border-top:2px solid #f5f7f7;
}
.well-R{
    min-height:20px;
    height:400px;
    overflow:auto;
    padding:19px;
    margin-bottom:0;
    background-color:#fff;
    border:1px solid #e3e3e3;
    border-radius:0;
    border-bottom:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
}
.well-FR{
    padding:10px;
    margin-bottom:12px;
    min-height:20px;
    background-color:#f5f6f7;
    border:1px solid #e3e3e3;
    border-top:0;
    border-radius:0 0 4px 4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
}
.well-CS{
    padding:0;
    min-height:20px;
    background-color:#f5f5f5;
    border:1px solid #e3e3e3;
    border-radius:0;
    border-bottom:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
}
.well-JSON{
    padding:0;
    min-height:20px;
    background-color:#f5f5f5;
    border:1px solid #e3e3e3;
    border-radius:0;
    border-bottom:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
}
.form-control-a{
    display:block;
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
textarea.form-control-a{
    height:auto;
}
.form-control-a:focus{
    border-color:#e77600;
    box-shadow:0 0 3px rgba(226,121,19,0.5),0 1px 0 rgba(0,0,0,0.07) inset;
    outline:0;
}
.form-control-a[disabled],.form-control-a[readonly]{
    background-color:#f5f7f7;
    opacity:1;
}
.has-success .form-control-a{
    border-color:#3c763d;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
}
.has-success .form-control-a:focus{
    border-color:#2b542c;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;
}
.has-success .form-control-a-feedback{
    color:#3c763d;
}
.has-error .form-control-a{
    border-color:#a94442;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
}
.has-error .form-control-a:focus{
    border-color:#843534;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}
.has-error .form-control-a-feedback{
    color:#a94442;
}
.nav-a{
    padding-left:0;
    margin-bottom:0;
    list-style:none;
}
.nav-a>li{
    position:relative;
    display:block;
}
.nav-a>li>a{
    position:relative;
    display:block;
    color:#000;
    padding:5px 15px;
}
.nav-a>li>a:hover,.nav-a>li>a:focus{
    text-decoration:none;
    color:#f91;
}
.nav-a>li.disabled>a{
    color:#777;
}
.nav-a>li.disabled>a:hover,.nav-a>li.disabled>a:focus{
    color:#777;
    text-decoration:none;
    cursor:not-allowed;
    background-color:transparent;
}
.nav-a>li.active>a{
    font-weight:bold;
    color:#000;
    padding:5px 12px;
    border-left:3px solid #f91;
}
#HistoryList{
    max-height:400px;
    max-width:800px;
    overflow-x:visible;
    overflow-y:scroll;
}
#Home{
    overflow-x:hidden;
}
.row-offcanvas{
    height:100%;
    padding-top:70px;
    overflow-x:hidden;
}
#Sidebar{
    width:inherit;
    min-width:0;
    max-width:280px;
    float:left;
    height:100%;
    position:relative;
}
#RightSection{
    height:100%;
    position:relative;
    overflow-x:hidden;
    overflow-y:auto;
}
#LandingPage{
    margin-left:20px;
    overflow-x:hidden;
}
#OperationSpecificPage{
    min-width:767px;
}
.mini-submenu{
    display:none;
    background-color:rgba(0,0,0,0);
    border:1px solid rgba(0,0,0,0.9);
    border-radius:4px;
    padding:9px;
    width:42px;
}
.mini-submenu:hover{
    cursor:pointer;
}
.mini-submenu .icon-bar{
    border-radius:1px;
    display:block;
    height:2px;
    width:22px;
    margin-top:3px;
}
.mini-submenu .icon-bar{
    background-color:#000;
}
#SlideSubmenu{
    display:inline-block;
    padding:0 8px;
    border-radius:4px;
    cursor:pointer;
}
.left-panel-list{
    padding-left:12px;
}
.type-of-operation{
    color:#777;
    margin:2px;
    padding-top:19px;
    font-family:sans-serif;
    font-size:14px;
}
.navbar-custom{
    background:#232F3E;
    color:#fff;
    border-radius:0;
}
.navbar-custom .navbar-nav>li>a{
    color:#fff;
    padding-left:20px;
    padding-right:20px;
}
.navbar-custom .navbar-nav .open>a,.navbar-custom .navbar-nav .open>a:hover,.navbar-custom .navbar-nav .open>a:focus,.navbar-custom .navbar-nav .active>a,.navbar-custom .navbar-nav .active>a:hover,.navbar-custom .navbar-nav .active>a:focus,.navbar-custom .navbar-nav .dropdown>li>a:hover,.navbar-custom .navbar-nav .dropdown>li>a:focus,.navbar-nav>.active>a:hover,.navbar-nav>.active>a:focus{
    color:#f91;
    background-color:transparent;
}
.navbar-custom .navbar-nav>li>a:hover,.nav>li>a:focus{
    text-decoration:none;
    color:#f91;
    background-color:transparent;
}
.navbar-custom .navbar-brand{
    color:#f5f7f7;
}
.navbar-custom .navbar-toggle{
    border-color:#000;
}
.navbar-custom .navbar-toggle:hover,.navbar-custom .navbar-toggle:focus{
    background-color:#000;
}
.navbar-custom .navbar-toggle .icon-bar{
    background-color:#fff;
}
.navbar-custom .icon-bar{
    background-color:transparent;
}
@media(max-width:767px){
    .navbar-custom .navbar-nav>li>.dropdown-menu>li>a{
        color:#fff;
    }
}
@media only screen and(min-width:767px){
    .navbar-custom .navbar-nav .nav-separator{
        display:block;
        border-left:solid 1px #999;
        border-right:solid 1px #444;
        height:30px;
        vertical-align:middle;
        width:0;
        margin:10px 0;
    }
}
#OperationName{
    padding-bottom:0;
    margin-bottom:0;
}
#OperationDescription{
    font-size:13px;
    color:#4d4d4d;
    padding-top:5px;
}
.parameter-description{
    font-size:13px;
    color:#4d4d4d;
}
.landing-page-header{
    font-size:22px;
    margin-top:6px;
}
.additional-resources-text{
    color:#4d4d4d;
    margin-top:0;
    padding-top:0;
    font-size:13px;
}
.tab-header{
    font-weight:bold;
    font-size:16px;
    margin-bottom:0;
}
.pre-scrollable{
    min-height:400px;
    background:white;
    overflow:auto;
    margin-bottom:0;
    border-radius:0;
    border-width:0;
    border-style:none;
}
.pre-scrollable-modal{
    min-height:800px!important;
    background:white;
    overflow:hidden;
    margin-bottom:0;
    padding-top:5px;
}
.btn-clipboard{
    position:absolute;
    top:inherit;
    right:inherit;
    z-index:1000;
    display:block;
    padding:5px 8px;
    font-size:12px;
    color:#767676;
    cursor:pointer;
    background-color:#fff;
    border:1px solid #e1e1e8;
    border-radius:0 4px;
}
.btn-clipboard-AmazonURL{
    position:absolute;
    top:inherit;
    right:15px;
    z-index:1000;
    display:block;
    padding:5px 8px;
    font-size:12px;
    color:#767676;
    cursor:pointer;
    background-color:#fff;
    border:1px solid #e1e1e8;
    border-radius:0 4px;
}
.btn-clipboard-NVP{
    position:absolute;
    top:inherit;
    right:32px;
    z-index:1000;
    display:block;
    padding:5px 8px;
    font-size:12px;
    color:#767676;
    cursor:pointer;
    background-color:#fff;
    border:1px solid #e1e1e8;
    border-radius:0 4px;
}
.btn-clipboard-URL{
    position:absolute;
    top:inherit;
    right:60px;
    z-index:1000;
    display:block;
    padding:5px 8px;
    font-size:12px;
    color:#767676;
    cursor:pointer;
    background-color:#fff;
    border:1px solid #e1e1e8;
    border-radius:0 4px;
}
.btn-clipboard-Modal{
    position:absolute;
    top:inherit;
    right:15px;
    z-index:1000;
    display:block;
    padding:5px 8px;
    font-size:12px;
    color:#767676;
    cursor:pointer;
    background-color:#fff;
    border:1px solid #e1e1e8;
    border-radius:0 4px;
}
.btn-clipboard-Code{
    position:absolute;
    top:inherit;
    right:16px;
    z-index:1000;
    display:block;
    padding:5px 8px;
    font-size:12px;
    color:#767676;
    cursor:pointer;
    background-color:#fff;
    border:1px solid #e1e1e8;
    border-radius:0 0 0 4px;
    border-top:0;
    border-right:0;
}
.btn-clipboard-CodeCopy{
    position:absolute;
    top:inherit;
    right:45px;
    z-index:1000;
    display:block;
    padding:5px 8px;
    font-size:12px;
    color:#767676;
    cursor:pointer;
    background-color:#fff;
    border:1px solid #e1e1e8;
    border-radius:0 0 0 4px;
    border-top:0;
    border-right:0;
}
.btn-clipboard-Code:hover,.btn-clipboard-CodeCopy:hover,.btn-clipboard-Modal:hover,.btn-clipboard:hover,.btn-clipboard-AmazonURL:hover,.btn-clipboard-NVP:hover{
    color:#000;
    background-color:#fc8e0a;
    border:1px solid #e87f00 border-radius0 4px;
}
#FormattedResponse{
    font-size:12px;
    color:#3a3a3a;
}
#CommonParamsHeaderCollapse{
    font-weight:normal;
    color:#6d6d6d;
    font-size:13px;
}
.a-alert-error{
    border-color:#c40000;
    padding-left:20px;
    box-shadow:0 0 0 4px #fcf4f4 inset;
}
.a-alert-error .a-alert-header{
    color:#c40000;
    font-size:1.2em;
}
.a-alert-success{
    border-color:#006400;
    padding-left:20px;
    box-shadow:0 0 0 4px #f4fcf6 inset;
}
.a-alert-success .a-alert-header{
    color:darkgreen;
    font-size:1.2em;
}
.CodeMirror{
    display:block;
    font-size:14px;
    border:1px solid #ccc;
    border-radius:4px;
}
.CodeMirror-focused{
    border:1px solid #e77600;
    box-shadow:0 0 3px rgba(226,121,19,0.5),0 1px 0 rgba(0,0,0,0.07) inset;
    outline:0;
}
.table>tbody>tr>td{
    max-width:250px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.panel-body{
    border:1px solid #f5f7f7;
}
.panel-footer{
    background-color:#f5f7f7;
}
.has-success .checkbox,.has-success .radio{
    color:#000;
}
.TextStream{
    resize:vertical;
    max-height:350px;
}
